<!DOCTYPE html>
<html lang="fr">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

    <meta charset="UTF-8">
    {% block stylesheet %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
</head>
<body>
    <h1>Base HTML</h1>

    <ul>
        <li><a href ={{url}}"start.php?c=user&t=one">Page 1</a></li>
        <li><a href ={{url}}"start.php?c=user&t=list">Page 2</a></li>
        <li><a href ={{url}}"start.php?c=index&t=index">Page 3</a></li>
    </ul>

   
    {% block body %}
    {% endblock %}
</body>

    {% block script %}

    {% endblock %}


</html>